<header class="header">
  <div class="headContent">
    <div class="hamburgermenu"> <a id="hamburger"><fa-icon [icon]="faBars" style="color: white;"></fa-icon></a> </div>
    <div class="headerLogo"> <a href="index.html"><img src="../assets/img/logo_italika.png" id="imgLogo"></a> </div>
    <div class="headerUser">
      <div class="nameUsr"><span>user</span></div>
    </div>
  </div>
</header>


<div id="effectEfect" class="ui-widget-content ui-corner-all">
  <div id="menuPrincipal">
    <div id="menuContPrin">
      <ul class="l-navegacion menuNivel1">
        <li class="usermenu">
          <div><span>Usuario</span></div>
        </li>
        <li> <a routerLink="/arbolNavegacion"><span><fa-icon [icon]="faUser"></fa-icon></span></a><a>
          <div class="titHiddentMenu">Arbol Navegacion</div>
          </a> </li>
        <li> <a routerLink="/mapaAutoservicios"><span><fa-icon [icon]="faMedal"></fa-icon></span></a><a>
          <div class="titHiddentMenu">Mapa Autoservicio</div>
          </a> </li>
        <li> <a routerLink="/login"><span><fa-icon [icon]="faPowerOff"></fa-icon></span></a><a>
          <div class="titHiddentMenu">Cerrar sesión</div>
          </a> </li>
      </ul>
    </div>
  </div>
</div>
<section class="contenido_principal">
  <router-outlet></router-outlet>
</section>


<footer>
  <div class="wrapper">
    <p class="tCenter">Italika 2019<br>
      Todos los derechos reservados. <a href="http://www.italika.mx/">www.italika.com</a></p>
  </div>
  <!-- /.wrapper --> 
</footer>