<div class="container">
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faSearch"></fa-icon></span>
        </div>
        <input type="text" class="form-control" placeholder="Autoservicio, formato y/o tienda" aria-label="Username"
            aria-describedby="basic-addon1" >&nbsp;&nbsp;
            <a routerLink="/mapaAutoservicios"> 
            <!--<i class="fa fa-street-view" style="font-size: xx-large; color: darkslateblue;"></i>-->
            <fa-icon [icon]="faMapMarked" style="color:darkslateblue; font-size: x-large;"></fa-icon>
            <!--<i class="fa fa-location-arrow" style="font-size: xx-large; color: darkslateblue;"></i>-->
        </a>
    </div>
    <h4><span class="badge badge-secondary">Autoservicios</span></h4>

    <div class="panel panelAS">
        <table id="tblAutoservicio" runat="server" class="tabla">
            <tr>
                <td style="background-color: lightblue;">
                    <img src="../../assets/img/Autoservicios/Chedraui.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Walmart.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Soriana.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/CityFresko.png" class="img">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../assets/img/Autoservicios/Liverpool.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/CasaLey.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Bestbuy.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Bodesa.png" class="img">
                </td>
            </tr>
        </table>
    </div>



    <h4><span class="badge badge-secondary">Formatos</span></h4>
    <div class="panel panelAS">
        <table id="tblFormato" runat="server" class="tabla">
            <tr>
                <td style="background-color: lightblue;">
                    <img src="../../assets/img/Autoservicios/Chedraui.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Walmart.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Soriana.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/CityFresko.png" class="img">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../../assets/img/Autoservicios/Liverpool.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/CasaLey.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Bestbuy.png" class="img">
                </td>
                <td>
                    <img src="../../assets/img/Autoservicios/Bodesa.png" class="img">
                </td>
            </tr>
        </table>
    </div>

    <h4><span class="badge badge-secondary">Zonas</span></h4>
    <div class="panel panelZona">
        <table id="tblZona" runat="server" class="tabla">
            <tr>
                <td style="background-color: lightblue;">
                    Zona Todas
                </td>
                <td>
                    Zona 1
                </td>
                <td>
                    Zona 2
                </td>
                <td>
                    Zona 3
                </td>
            </tr>
            <tr>
                <td>
                    Zona 4
                </td>
                <td>
                    Zona 5
                </td>
                <td>
                    Zona 6
                </td>
                <td>
                    Zona 7
                </td>
            </tr>
        </table>
    </div>

    <h4><span class="badge badge-secondary">Tiendas</span></h4>
    <div class="panel panelZona">
        <table id="tblTienda" runat="server" class="tabla">
            <tr>
                <td style="background-color: lightblue;">
                    Tienda 1
                </td>
            </tr>
            <tr>
                <td>
                    Tienda 2
                </td>
            </tr>
        </table>
    </div>
</div>